body{
    background-color: rgb(252, 248, 248);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    color: rgb(84, 56, 85);
}